nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #333; 
    padding: 10px 20px; 
}
nav img {
    margin-right: 10px; 
}

nav h3 {
    color: white; 
}

nav ol {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

nav li {
    display: inline; 
    margin-right: 20px; 
}

nav a {
    color: white; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
}